@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body{
	margin: 0;
    /* background-image: linear-gradient(rgb(131, 39, 39),rgb(147, 147, 75), rgb(89, 19, 19)); */
	background-image: linear-gradient(black , white, black );
	color: #fff;
}

.logo{
   height: 58px;
   width: 130px;
   cursor: pointer;
   padding:0px;

}
.container.night {
	background-image: linear-gradient(black,rgb(130, 130, 165));
}
.label {
	background-color: black;
	display: flex;
	height: 30px;
	border-radius: 50px;
	width: 100px;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	padding: 0 15px;
	transition: all .5s ease-in-out;
	cursor: pointer;
	border: 2px solid black;
	margin: 5px 2px 10px 80%;
}
.label .fa-moon {
	color: rgb(250, 250, 250);
}
label .fa-sun {
	color: rgb(243, 188, 36);
}
.blob {
	position: absolute;
	left: 50%;
	width: 50%;
	height: 100%;
	background: rgb(169, 241, 243);
	border-radius: 50px;
	transition: .5s ease all;
}
.checkbox {
	opacity: 0;
	position:relative;
	
}
.info {
	display: block;
	margin-top: 50px;
}
.info.night {
	color: white;
}
.checkbox:checked + .label .blob {
	left: 0;
}
.checkbox:checked + .label {
	background-color: rgb(82, 81, 83);
    /* margin: 15px 15px 10px ; */
}
#header{
	border-top: 3px solid #51597e;
	border-bottom: 3px solid #51597e;
	padding-top: 0;
	height: 58px;
    margin-bottom: 0;
	color: #fafafa;
	/* background: #333850;
    background: rgba(51,56,80,.9);
    background: -moz-linear-gradient(-45deg,rgba(9,10,15,0.9) 0%,rgba(63,69,98,0.9) 100%);
    background: -webkit-linear-gradient(-45deg,rgba(9,10,15,0.9) 0%,rgba(63,69,98,0.9) 100%);
    background: linear-gradient(135deg,rgba(9,10,15,0.9) 0%,rgba(63,69,98,0.9) 100%);
	background: linear-gradient(135deg,#090a0f 0%,#3f4562 100%); */
    background-size: 100vw 100vh;
    box-shadow: 0 0 30px 0 #0c0e14;
	background-attachment: fixed;
	
}
.container {
    width: 100%;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}
.container1{
	padding-left: 5px;
}

#header::after{
	content: ' ';
	display: table;
	clear: both;
	box-sizing: border-box;
	position: fixed;
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
nav li{
	display: inline-block; 
	margin-left: 75px;
	padding-top: 25px;
	padding-right: 20px;
	/* margin-left: 10px; */
	/* float: left; */
}

nav a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;
	text-shadow: #000;
	position: relative;
}
nav a::after{
  content: '';
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav a:hover::after{
	width: 100%;
}
nav a :hover{
	color: #000;
	left: 50%;
	width: 50%;
	height: 100%;
	background: rgb(169, 241, 243);
	border-radius: 50px;
	transition: .5s ease all;
}
#Animation{
	height: 320px;
	width: 320px;
	background-color: aqua;
	margin: 100px;
	transition: all 2s;
	border-radius: 200px;
   }
   #Animation:hover{transform: rotate(0deg) scale(1.1);
	 border-radius: 200px;
	 cursor:pointer;
   }
   #td1{
	 transition: all 2s;
   }
   #td1:hover{transform: rotate(0deg) scale(1.2) translateY(200px);
	 border-radius: 150px;
	 border-radius: 50%;
	 height: 200px;
	 cursor:pointer;
   }
   
   #table{margin-top:-100px;
		  margin-bottom: -100px;}
   #p{
	   margin-top: 20px;
	   margin-bottom: 20px;
   }
   #btn{
	border-radius: 5px;

   }
   #btn::after{
	height: 10px;
   }
   #h1{
	 font: 2em sans-serif;
     font-weight:900;
   }
   #h1:hover{
	cursor: pointer;
	transform:scaleX(1.1);
   }
   #h11{
	 font-size: larger;
     font-weight:900;
   }
   #h11:hover{
	cursor: pointer;
	transform:scaleX(1.2);
   }
   #h12{
	 font-size: large;
     font-weight:900;
   }
   #h12:hover{
	cursor: pointer;
	transform:scaleX(1.2);
   }
   .hide {
	display: none;
  }
  .mydiv:hover + .hide {
	display: block;
	color: red;
  }
  #img1 {
	  height: 70px;
	  width: 70px;
	  padding: 20px;
	  border-radius: 20%;
	  filter: grayscale(100%);
	  -webkit-filter: grayscale(100%);
}

#img1:hover {
    filter: none;
    -webkit-filter: grayscale(0);
	transition: all 1s;
}
form{
	padding: 20px ;

}
.QR{
	left: 1200px;
	margin-top: 20px;
	margin-left: 200px;
}
/*-------------------------about--------------- */
#about{
	padding: 80px 80px;
	padding-top: 100px;
	color: #000;
}
.row{
	display: flex;
	justify-content:space-between ;
	flex-wrap: wrap;
}
.about-col-1{
	flex-basis: 35%;
}
.about-col-1 img{
	border-radius: 25px;
	height: 500px;
}
.about-col-2{
	flex-basis: 65%;
}
.sub-title{
	font-size: 60px;
	font-weight: 600;
	color:#000;
}
.tab-titles{
	display: flex;
	margin: 20px 0 40px;
}
.tab-links{
	margin-right: 70px;
	font-size: 18px;
	font-weight: 500;
	cursor: pointer;
	position: relative;
}
.tab-links::after{
	content: '';
	width: 0 ;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links::after{
	content: '';
	width: 0 ;
	height: 3px;
	background: #ff004f;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: 0.5s;
}
.tab-links.active-link::after{
	 width: 50%;
}
.tab-contents ul li{
     list-style: none;
	 margin-top: 10px;
	 margin-left:-40px;
}
.tab-contents ul li span{
	color: #b54769;
	font-size: 14px;
}
.tab-contents{
	display: none;
}
.tab-contents.active-tab{
	display: block;
}
/* ------------------------Services----------------------- */
#services{
	padding: 30px 0;
}
.services-list{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 40px;
	margin-top: 50px;
}
.services-list div{
	/* background: linear-gradient(rgb(122, 40, 40),rgb(113, 113, 48) ); */
	background-image:linear-gradient( grey,rgb(96, 90, 90));
	padding: 40px ;
	font-size: 13px;
	font-weight: 300;
	border-right: 10px;
	transition: background 0.5s , transform 0.5s;
}
.services-list div i {
	font-size: 50px;
	margin-bottom: 30px;
}
.services-list div h2 {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 15px;
}
.services-list div a {
	text-decoration: none;
	color: #fff ;
	font-size: 12px;
	margin-top: 20px;
	display: inline-block;
}
.services-list div:hover {
	background: #846871 ;
	transform: translateY(-10px);
}

/* -----------------------------------Modal FEEDBACK FORM_____________________________________ */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  /* Modal Content */
.modal-content {
	background-color: #fefefe;
	opacity: 0.8;
	margin: auto;
	padding: 30px;
	padding-bottom: 20px;
	border: 1px solid #888;
	width: 50%;
  }
  
  /* The Close Button */
  .close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
  }
/* button{
	margin-left: 40%;
	margin-top: 30px;
	padding: 20px 60px;
} */
#myBtn{
    color:  rgb(67, 162, 210);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
	margin-left: 45%;
    border: 1px solid  rgb(67, 162, 210);
    margin-top: 25px;
	margin-bottom: 5px;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;
}
    #myBtn:hover{
      background-color:  rgb(67, 162, 210);
      color: #333;
   }
#label{
	text-align: center;
	 font-size: 20px ;
	  color: black;
	  font-family: 'Courgette', cursive;
	   margin-left: 30% ;
	   margin-top: 20px;
}